.category {
    width: 100%;
    flex-grow: 1;
    font-size: 30px;
    display: flex;
    justify-content: center;
    line-height: 1.5;
}

.category:not(:last-child) {
    border-bottom: 1px #5d5d5d solid;
}

.category:hover {
    background-color: #bc90fd;
}

.category:first-child {
    border-top-right-radius: 20px;
}

.category:last-child {
    border-bottom-right-radius: 20px;
}
